.container__contact {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 30px;
}

.content__contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img__map {
  width: 48%;
}

.group__input__contact {
  width: 40%;
}

.group__input__contact p {
  margin: 0;
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
}

.group__input__contact {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.group__input__contact input,
.group__input__contact textarea {
  outline: none;
  border: 1px solid var(--color-greyDark);
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  font-family: "Quicksand", sans-serif;
}

.group__input__contact textarea {
  height: 200px;
  padding: 10px;
}

.group__input__contact button {
  width: 40%;
  margin: 0 auto;
  background: var(--color-pink);
  color: var(--color-white);
  padding: 6px 0;
  font-size: var(--font-size-s);
  border-radius: 5px;
  font-weight: var(--font-weight-semibold);
}

.group__input__contact button:hover {
  cursor: pointer;
  background: var(--color-blackDark);
}
